<!doctype html>
<html>
<head>
  <link rel='icon' href='https://media.giphy.com/media/ky8MLJ5ULGnjelwvCS/giphy.gif' type='image/x-icon'/>
  <meta charset="utf/8">
<title>WOOF</title>
<link href="styleCW.css" rel="stylesheet" title="Main">
</head>
<body>
  <header id="Muzzle">
<div id="Logo">
  <h1><img src="https://media.giphy.com/media/LR72u3HjYackpPGB12/giphy.gif" alt=""></h1>
</div>
<div id="Database">
  <li><a id="Male" href="http://localhost:8080/male"><img id="m" src="https://media.giphy.com/media/gFbbxVmtwNyZwJCrst/giphy.gif" alt="" width="200" height="300"></a></li>
  <li><a id="Female" href="http://localhost:8080/female"><img id="fe" src="https://media.giphy.com/media/ekelmzltYZGEnfJbQf/giphy.gif" alt="" width="200" height="300"></a></li>
</div>
<div id="Account">
  <div>
 
</div>
</div>
</header>
<footer>
  <div>
    <p>Josef Picha &copy; 2020</a>
  </div>
  </span></p>
</footer>

</body>












</html>
