<html>
<head>
    
    <title><img src="panda.jpg" alt="">404 NOT FOUND</title>
    <meta charset="UTF-8">
<title>Document</title>
<style>
    body{
        display: flex;
        background-color: black;
        align-items: center;
       flex-wrap: wrap;
        flex-direction: column;
    }
    h1{
        color: white;
    }
    a{
        text-decoration: none;
        color: white;
        border: 2px solid;
        box-shadow:0 0 10px white;
        padding: 20px;
    }
</style>

</head>
<body>
    <h1>404 PAGE NOT FOUND</h1>
    <br>
    <img src="https://media.giphy.com/media/18e6e9M7bGo65L4wj7/giphy.gif" alt="" height="300" width="250">
    <br>
    <a href="http://localhost:8080/">BACK TO THE MAIN MENU</a>
</body>