<html>
<head>
    <link rel='icon' href='https://media.giphy.com/media/ky8MLJ5ULGnjelwvCS/giphy.gif' type='image/x-icon'/>

    <title>WOOF</title>
    <meta charset="UTF-8">
<!--<link rel='icon' href='https://media.giphy.com/media/ky8MLJ5ULGnjelwvCS/giphy.gif' type='image/x-icon'/>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script> -->
</head>
<body>
    <h1>LOGIN</h1>
    <p>For edit <%= item[0].f_dog_name %>'s profile write here the password:</p>
    <form action="http://localhost:8080/login/female/<%= item[0].f_id %>" method="POST" >
    <input type="hidden" name="f_password" value="<%= item[0].f_password%>">
    <p><%= message %></p>
    <input type="password" name="f_password1" value="">
    <br>
    <input type="submit" name="submit" value="Login">
</form>
</body>
</html>